<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067189260064-61k6nadksvdv0ksrapbfkd17e1rm7fpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067189260064-61k6nadksvdv0ksrapbfkd17e1rm7fpq</string>
	<key>API_KEY</key>
	<string>AIzaSyCufd9YJF4Z2vUgPxRUPbSrURISxbUbMOs</string>
	<key>GCM_SENDER_ID</key>
	<string>1067189260064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.staruco.perception</string>
	<key>PROJECT_ID</key>
	<string>perception-1da8d</string>
	<key>STORAGE_BUCKET</key>
	<string>perception-1da8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067189260064:ios:4f759e3ba1ea9bb50c1145</string>
</dict>
</plist>